#user-details img {
  width: 16px;
  height: 16px;
  margin-right: 5px; }

.sub-nav {
  background-color: #052942; }

.relative {
  position: relative;
  padding-left: 15px; }

.no-vertical-padding {
  padding-top: 0;
  padding-bottom: 0; }

.main h1 {
  font-size: 1.5rem;
  margin: 0; }

.main h2 {
  font-size: 1.2rem; }

#product-list .thumbnail {
  height: 180px;
  background-size: cover;
  background-position: center center; }

#product-list .description {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100px; }
  #product-list .description::after {
    content: '...'; }

#product-list .footer-card {
  font-size: .8rem;
  border-top: 1px dotted #ccc;
  margin-top: .5rem;
  padding-top: .5rem; }
  #product-list .footer-card span {
    padding: .3rem;
    display: inline-block;
    background-color: #efefef; }
    #product-list .footer-card span.price {
      background-color: #fbaf24;
      color: #fff; }
      #product-list .footer-card span.price.Free {
        background-color: #23b974; }

#product-buy #paypal input[type="image"] {
  width: 230px;
  margin: 0 auto;
  height: auto; }

#product-details .btn-third {
  width: 49.7%;
  text-align: center; }

#product-details #preview-canvas {
  width: 100%;
  overflow: hidden; }

#product-details .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  #product-details .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#hire-an-expert button.transparent {
  border: 0;
  font-size: 2rem;
  position: absolute;
  top: 43%;
  background: none;
  color: white; }

#hire-an-expert button.prev {
  left: 15px; }

#hire-an-expert button.next {
  right: -5px; }

#hire-an-expert .dev-description,
#hire-an-expert .dev-carousel,
#hire-an-expert .dev-contact {
  display: inline-block;
  float: left; }

#hire-an-expert .dev-description {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 16px 0 rgba(0, 0, 0, 0.05);
  padding: 1rem;
  height: 233px;
  width: 25%;
  margin-left: 6.2%; }
  #hire-an-expert .dev-description ul {
    margin-bottom: 0; }

#hire-an-expert .dev-carousel {
  width: 40%; }

#hire-an-expert .dev-contact {
  width: 19.1%; }
