<footer class="footer leader-1 link-dark-gray" role="contentinfo">
    <div class="grid-container">
      <nav class="column-6">
        <h6>Organizations</h6>
        <ul class="list-plain">
          <li>{% link '/support/', 'Support' %}</li>
          <li>{% link '/share-an-idea/', 'Share an idea' %}</li>
          <li>{% link '/co-create-an-app/', 'Co-create an app' %}</li>
        </ul>
      </nav>

      <nav class="column-6">
        <h6>Developers</h6>
        <ul class="list-plain">
          <li>{% link '/publish-your-app/', 'Publish your app' %}</li>
          <li><a href="https://esri-es.github.io/awesome-arcgis/arcgis/products/configurable-apps/">Guides</a></li>
          <li><a href="https://geonet.esri.com/groups/arcgis-online-templates">Community</a></li>
        </ul>
      </nav>

      <nav class="column-6">
        <h6>About</h6>
        <ul class="list-plain">
          <li>{% link '/', 'App listing' %}</li>
          <li><a href="#">Our team</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </nav>

      <nav class="column-6">
        <a class="esri-logo" href="http://www.esri.es/" aria-label="Esri Spain Home"
        style="
        background-image: url(/assets/images/geotemplates-solutions.svg)!important;
        width: 137px;
        "
        ></a>
        <section class="footer-social-nav leader-1">
          <a class="icon-social-twitter" aria-label="GeoTemplate on Twitter" href="https://twitter.com/geotemplates"></a>
          <!--<a class="icon-social-facebook" aria-label="GeoTemplate on Facebook" href="http://www.facebook.com/pages/Esri-Espa%C3%B1a-Geosistemas/189806744376056"></a>-->
          <a class="icon-social-linkedin" aria-label="GeoTemplate on Linkedin" href="https://www.linkedin.com/company/geotemplate-solutions/"></a>
          <!--<a class="icon-social-youtube" aria-label="GeoTemplate on Instagram" href="http://www.youtube.com/user/esriSpainTV"></a>-->
          <a class="icon-social-contact" aria-label="Contact GeoTemplate" href="mailto:hello@geotemplatesolutions.com"></a>
        </section>
      </nav>

      <div class="column-24 leader-1">
        <p><small>Copyright © 2018 GeoTemplate Solutions. All rights reserved. </small></p>
      </div>
    </div>
  </footer>
