<div class="grid-container">
    <div class="column-24">
        <!-- desktop sized navigation -->
        <div class="tablet-hide">
            <!-- logo / home -->
            <a href="{{ relativePath }}" class="top-nav-title">
                Storymaps Directory <br>
                <!--<small style="font-style: italic;"></small>-->
            </a>

            <!-- primary navigation sections -->
            <nav class="top-nav-list" role="navigation" aria-labelledby="topnav"></nav>
            <!-- user specific dropdowns -->
            <nav class="class-top-nav-list right" role="navigation" aria-labelledby="usernav">

                <a class="top-nav-link icon-ui-group margin-left-1" href="/find-a-developer/">Find a developer</a>
                <a class="top-nav-link icon-ui-user margin-left-1" href="https://arcgis.domake.io/login/arcgis/" id="login">Sign In</a>


                <div class="top-nav-link dropdown js-dropdown" id="logout" style="display:none">
                    <!-- extends side-nav -->
                    <button class="btn btn-transparent dropdown-btn js-dropdown-toggle no-vertical-padding" tabindex="0" aria-haspopup="true" aria-expanded="false">
                        <span id="user-details"><img src="" alt="User avatar"><span class="name"></span></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32" class="svg-icon"><path d="M28 9v5L16 26 4 14V9l12 12L28 9z"/></svg>
                    </button>
                    <!-- extends side-nav -->
                    <nav class="dropdown-menu modifier-class" role="menu">
                        <!-- extends side-nav-link -->
                        <!--<span class="dropdown-title">Some Options</span>-->
                        <!--<a href="#" class="dropdown-link" role="menu-item">My apps</a>-->
                        <!--<a href="#" class="dropdown-link" role="menu-item">Option 2</a>
                        <a href="#" class="dropdown-link" role="menu-item">Option 3</a>
                        <span class="dropdown-title">More Options</span>
                        <a href="#" class="dropdown-link" role="menu-item">Option 4</a>-->
                        <a href="https://arcgis.domake.io/logout" class="dropdown-link" role="menu-item" id="logoutOption">Logout</a>
                    </nav>
                </div>
            </nav>

        </div>

        <!-- tablet and mobile sized navigation -->
        <div class="tablet-show top-nav-flex">
            <!-- open primary navigation drawer -->
            <nav class="top-nav-flex-list" role="navigation" aria-labelledby="topnav">
                <a href="/" class="icon-ui-menu top-nav-link js-drawer-toggle" data-drawer="top-nav"><span class="phone-hide">Menu</span></a>
            </nav>
            <!-- logo / home -->
            <header class="top-nav-flex-title">
                <a href="/" class="top-nav-link">ArcGIS <span class="phone-hide">for Developers</span></a>
            </header>
            <!-- user specific actions -->
            <nav class="top-nav-flex-list text-right" role="navigation" aria-labelledby="usernav">
                <a class="top-nav-link icon-ui-search js-drawer-toggle" href="#" aria-label="Search"><span class="phone-hide">Search</span></a>
                <a class="top-nav-link icon-ui-group margin-left-1 js-drawer-toggle" href="#" aria-label="Experts"><span class="phone-hide">Experts</span></a>
                <a class="top-nav-link icon-ui-user margin-left-1 js-drawer-toggle" href="#" aria-label="Sign In"><span class="phone-hide">Sign In</span></a>
            </nav>
        </div>
    </div>

</div>

<!-- Sample HTML -->
<header class="sub-nav trailer-1" role="banner">
    <div class="grid-container">
        <div class="column-24">
            <p class="font-size-0 text-white leader-1" style="font-style: italic;">Find new storymaps templates & developer experts to help you tell stunishing stories.</p>
        </div>
    </div>
</header>
