@import 'header';

.main{
  h1{
    font-size: 1.5rem;
    margin: 0;
  }
  h2{
    font-size: 1.2rem;
  }
}

#product-buy{
  #paypal input[type="image"]{
    width: 230px;
    margin: 0 auto;
    height: auto;

  }
}

#product-details{
  #preview-canvas{
    max-height: 400px;
    width: 100%;
    overflow: hidden;
    background-color: black;
  }
}