@import 'header';

.relative{
    position: relative;
    padding-left: 15px;

}

.no-vertical-padding{
    padding-top: 0;
    padding-bottom: 0;
}
.main{
  h1{
    font-size: 1.5rem;
    margin: 0;
  }
  h2{
    font-size: 1.2rem;
  }
}

#product-list{
  .thumbnail{
    height: 180px;
    background-size: cover;
    background-position: center center;
  }
  .description{
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100px;
    &::after{
      content: '...'
    }
  }
  .footer-card{
    font-size: .8rem;
    border-top: 1px dotted #ccc;
    margin-top: .5rem;
    padding-top: .5rem;

    span{
      padding: .3rem;
      display: inline-block;
      background-color: #efefef;

      &.price{
        background-color: #fbaf24;

        color: #fff;

        &.Free{
          background-color: #23b974;
        }
      }
    }
  }


}

#product-buy{
  #paypal input[type="image"]{
    width: 230px;
    margin: 0 auto;
    height: auto;

  }
}

#product-details{
  .btn-third{
    // width: 32.5%;
    width: 49.4%;
    text-align: center;
  }
  #preview-canvas{
    width: 100%;
    overflow: hidden;
  }
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}
#hire-an-expert{
    button{
        &.transparent{
            border: 0;
            font-size: 2rem;
            position: absolute;
            top: 43%;
            background: none;
            color: white;
        }
        &.prev{
            left: 15px;
        }
        &.next{
            right: -5px;
        }
    }

    .dev-description,
    .dev-carousel,
    .dev-contact{
        display: inline-block;
        float: left;
    }

    .dev-description{
            box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 0 16px 0 rgba(0,0,0,0.05);
            padding: 1rem;
            height: 233px;
            ul{
                margin-bottom: 0;
            }
            width: 25%;
            margin-left: 6.2%;
    }
    .dev-carousel{
        width: 40%;
    }
    .dev-contact{
        width: 19.1%;
    }
}
