@import 'header';

.main{
  h1{
    font-size: 1.5rem;
    margin: 0;
  }
  h2{
    font-size: 1.2rem;
  }
}

#product-list{
  .thumbnail{
    height: 180px;
    background-size: cover;
    background-position: center center;
  }
  .description{
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100px;
    &::after{
      content: '...'
    }
  }
  .footer-card{
    font-size: .8rem;
    border-top: 1px dotted #ccc;
    margin-top: .5rem;
    padding-top: .5rem;

    span{
      padding: .3rem;
      display: inline-block;
      background-color: #efefef;

      &.price{
        background-color: #fbaf24;
        
        color: #fff;

        &.Free{
          background-color: #23b974;
        }
      }
    }
  }
  

}

#product-buy{
  #paypal input[type="image"]{
    width: 230px;
    margin: 0 auto;
    height: auto;

  }
}

#product-details{
  .btn-third{
    width: 32.5%;
    text-align: center;
  }
  #preview-canvas{
    width: 100%;
    overflow: hidden;
  }
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}